<div class="yj-nav mc-hide">

  <div class="w-main f-bc f-cb">
    <span class="yj-nav-a {eq name=':request()->controller()' value='Index'}on{/eq} " >
      <a href="/index.php/admin/index"> <b>后台管理首页</b>
      </a>
    </span>

    <span class="yj-nav-a {eq name=':request()->controller()' value='ListPage'}on{/eq}">
      <a href="/index.php/admin/listPage"> <b>列表</b></a>
<!--       <div class="yj-nav-child" style="display: none;">
        <ul>
          <li>
            <a href="javascript:;">子选项1</a>
          </li>
          <li>
            <a href="javascript:;">子选项1</a>
          </li>
        </ul>
      </div> -->
    </span>


  </div>

  <div class="login">
    <a href="/index.php/index/index" title="前往前台首页" target="_blank">前台首页</a>
    <a href="javascript:;">您好，<?php echo Session::get('name');?></a>
    <a href="javascript:;" id="loginOut">退出</a>
  </div>

</div>
