<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{include file="/public/_meta"}
<link rel="stylesheet" type="text/css" href="/static/index/css/index.css" />
<title>{$title}</title>

</head>
<body>

    {include file="/public/_header"}

    <div class="admin-new-page w1000">
        <div class="item-wrap">

          {volist name="list"  id='list'}　
            <div class="item">
                <div class="title">
                    {$list.title}
                </div>
                <div class="des pt10">
                    {$list.des}
                </div>
            <!--     <div class="content pt10">
                    {$list.content|raw}
                </div> -->
                <div class="time pt20">
                    {$list.timer} 
                    <span class="ml20">
                        {if ( $list.type == 1) } 
                            娱乐新闻
                        {elseif $list.type == 2 /}
                            体育新闻
                        {else $list.type == 3} 
                            时事新闻
                        {/if}
                    </span>
                </div>

                <div class="options pt20">
                    <a href="/admin/newsdetail-{$list.id}" data-id="{$list.id}" data-role="edit">编辑</a>
                    <a href="javascript:;" data-id="{$list.id}" data-role="del" >删除</a>
                </div>
            </div> 
          {/volist}

          <div class="page">
              {$page|raw}
          </div>
            
        </div>     
    </div>

    {include file="/public/_footer"}


<script type="text/javascript">
    $(document).ready(function() {
        // 删除
        $('[data-role="del"]').on('click', function(event) {
            var id = $(this).attr("data-id");
            layer.open({
              title: '',content: '是否确认删除？',
              closeBtn: 1,
              area: ['500px', '150px'],
              yes: function(index, layero){
                $.ajax({
                  url: '/admin/news/del',
                  data: {
                    id : id,
                  },
                  dataType: 'json',
                  type: 'POST',
                  cache: false,
                  beforeSend: function() 
                  {
                    
                  },
                  success: function(ret) 
                  {
                    console.log(ret);
                    if (ret.code == 1) {
                      // alert("添加成功，请刷新");
                      // layer.msg('删除成功！');


                      layer.msg( "删除成功！" , {  
                          time: 2000, //20s后自动关闭  
                          // btn: ['明白了', '知道了']  
                        },function(){
                          window.location.reload();
                        }
                      );

                    }
                  },    
                  error: function() 
                  {
                    
                  },    
                });
              }
            });
            
        });



    });

</script>

    
</body>
</html>