<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{include file="/public/_meta"}
<link rel="stylesheet" type="text/css" href="/static/index/css/index.css" />
<title>发布新闻</title>

</head>
<body>

    {include file="/public/_header"}


    <div class="index-page">
      
      <div class="p1th">
        管理员功能
      </div>
    </div>


    {include file="/public/_footer"}

    
</body>
</html>