<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{include file="/public/_meta"}
<link rel="stylesheet" type="text/css" href="/static/index/css/index.css" />
<title>首页</title>

</head>
<body>

    {include file="/public/_header"}


    <div class="search-page w1000">
      
      <div class="p1th">
        <div class="item-wrap">
            <div class="item clearfix">
                <div class="lbox fl">
                    姓名：
                </div>
                <div class="rbox fl">
                    <input type="text" name=" " id="name" class="input-text"  placeholder="请输入姓名"/>
                </div>
            </div> 

            <div class="item clearfix">
                <div class="lbox fl">
                    地址：
                </div>
                <div class="rbox fl">
                    <input type="text" name=" " id="address" class="input-text"  placeholder="请输入地址"/>
                </div>
            </div> 

            <div class="item clearfix">
                <div class="lbox fl">
                    价格区间：
                </div>
                <div class="rbox fl">
                    <input type="text" name=" " id="priceMin" class="input-text" style="width:120px;"  placeholder="请输入最小值"/>
                    -
                    <input type="text" name=" " id="priceMax" class="input-text"  style="width:120px;"    placeholder="请输入最大值"/>
                </div>
            </div> 
            
        </div>   

        <div class="btn"><button id="btn" class="layui-btn layui-btn-normal">查找</button></div>

      </div>


      <div class="p2th dn" id="ret">
        <div class="box1">查找结果：</div>

        <div class="box2">

          <div id="tplEle"></div>
          <script id="tplData" type="text/html">
            {%if list != 0 %}
              <table class="layui-table">
                <colgroup>
                  <col width="150">
                  <col width="200">
                  <col>
                </colgroup>
                <thead>
                  <tr>
                    <th>姓名</th>
                    <th>价格</th>
                    <th>地址</th>
                  </tr> 
                </thead>
                    
                {%each list %}
                  <tr>
                    <td> {%$value.name%}</td>
                    <td> {%$value.price%}</td>
                    <td> {%$value.address%}</td>
                  </tr> 
                {%/each%}
              </table>
            {%else%}
              <div class="no-data f16  fb">
                暂无数据...
              </div>
            {%/if%}
          </script>

        </div>

      </div>

    </div>

    {include file="/public/_footer"}
    
    <script type="text/javascript">
      // var data = {
      //     title: '基本例子',
      //     isAdmin: true,
      //     list: ['文艺', '博客', '摄影', '电影', '民谣', '旅行', '吉他']
      // };
      // // 标准语法的界定符规则
      // template.defaults.rules[1].test = /{%([@#]?)[ \t]*(\/?)([\w\W]*?)[ \t]*%}/;
      // var html = template('test', data);
      // document.getElementById('content').innerHTML = html;

      $(document).ready(function() {
        $('#btn').on('click', function(event) {
            var name = $("#name").val();
            var address = $("#address").val();
            var priceMin = $("#priceMin").val();
            var priceMax = $("#priceMax").val();

            if (!name) {
                // alert("请输入姓名")
                layer.msg('请输入姓名');
                return false;
            }
            if (!address) {
                // alert("请输入电话")
                layer.msg('请输入地址');
                return false;
            }
            if (!priceMin) {
                // alert("请输入电话")
                layer.msg('请输入最小价格');
                return false;
            }
            if (!priceMax) {
                // alert("请输入电话")
                layer.msg('请输入最大价格');
                return false;
            }
            $.ajax({
              url: '/searchdata',
              data: {
                name : name,
                address : address ,
                priceMin : priceMin,
                priceMax : priceMax,
              },
              dataType: 'json',
              type: 'POST',
              cache: false,
              beforeSend: function() 
              {
                layer.load();
              },
              success: function(ret) 
              {
                layer.closeAll('loading');
                // console.log(ret);
                var data = {
                  "list" : []
                };
                data.list = ret;
                var html = template('tplData', data);
                $('#tplEle').html(html)
                $('#ret').removeClass('dn')
              },    
              error: function() 
              {
                layer.closeAll('loading');
              },    
            });
            
        });

      });

    </script>
</body>
</html>