<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{include file="/public/_meta"}
<link rel="stylesheet" type="text/css" href="/static/index/css/index.css" />
<title>{$title}</title>

</head>
<body>

    {include file="/public/_header"}


    <div class="new-page w1000">
        <div class="item-wrap">

          {volist name="list"  id='list'}　
            <div class="item">
                <div class="title">
                    {$list.title}
                </div>
                <div class="des pt10">
                    {$list.des}
                </div>
                <div class="content pt10">
                    {$list.content|raw}
                </div>
                <div class="time pt20">
                    {$list.timer} 
                    <span class="ml20">
                        {if ( $list.type == 1) } 
                            娱乐新闻
                        {elseif $list.type == 2 /}
                            体育新闻
                        {else $list.type == 3} 
                            时事新闻
                        {/if}
                    </span>
                </div>
            </div> 
          {/volist}

          <div class="page">
              {$page|raw}
          </div>
            
        </div>     
    </div>


    {include file="/public/_footer"}

    
</body>
</html>