<div class="yj-nav mc-hide">

  <div class="w-main f-bc f-cb">
    <span class="yj-nav-a {eq name=':request()->controller()' value='Index'}on{/eq} " >
      <a href="/"> <b>首页</b>
      </a>
    </span>

    <span class="yj-nav-a {eq name=':request()->controller()' value='ListPage'}on{/eq}">
      <a href="/commentlist"> <b>评论列表</b></a>
<!--       <div class="yj-nav-child" style="display: none;">
        <ul>
          <li>
            <a href="javascript:;">子选项1</a>
          </li>
          <li>
            <a href="javascript:;">子选项1</a>
          </li>
        </ul>
      </div> -->
    </span>


    <span class="yj-nav-a {eq name=':request()->controller()' value='News'}on{/eq}">
      <a href="/news"> <b>全部新闻</b></a>
        <div class="yj-nav-child" style="display: none;">
          <ul>
            {foreach $newList as $vo}
              <!-- <li><a href="/index.php/index/news/index/type/{$vo.id}">{$vo.name}</a></li> -->
              <li><a href="/news/{$vo.id}">{$vo.name}</a></li>
            {/foreach}
          </ul>
        </div>
    </span>


    <span class="yj-nav-a {eq name=':request()->controller()' value='CommentInput'}on{/eq}">
      <a href="/commentinput"> <b>发布评论</b></a>
<!--       <div class="yj-nav-child" style="display: none;">
        <ul>
          <li>
            <a href="javascript:;">子选项2</a>
          </li>
          <li>
            <a href="javascript:;">子选项2</a>
          </li>
        </ul>
      </div> -->
    </span>

    

  </div>

  <div class="login">
    <a href="/login">登陆</a>
    <a href="/register">注册</a>
  </div>

</div>