<div class="yj-nav mc-hide">
  <div class="w-main f-bc f-cb">

    <span class="yj-nav-a">
      <a href="javascript:;"> <b>首页</b>
      </a>
    </span>

    <span class="yj-nav-a">
      <a href="javascript:;"> <b>选项1</b></a>
      <div class="yj-nav-child" style="display: none;">
        <ul>
          <li>
            <a href="javascript:;">子选项1</a>
          </li>
          <li>
            <a href="javascript:;">子选项1</a>
          </li>
        </ul>
      </div>
    </span>

    <span class="yj-nav-a">
      <a href="javascript:;"> <b>选项2</b></a>
      <div class="yj-nav-child" style="display: none;">
        <ul>
          <li>
            <a href="javascript:;">子选项2</a>
          </li>
          <li>
            <a href="javascript:;">子选项2</a>
          </li>
        </ul>
      </div>
    </span>

  </div>
</div>