<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>列表页</title>
{include file="/public/_meta"}
<link rel="stylesheet" type="text/css" href="/static/list/css/list.css" />
</head>
<body>
    {include file="/public/_header"}

    <div class="list-page w1000">

        <div class="list-wrap">
          {volist name="list"  id='list'}　
            <div class="item">
                <div class="p1 p"><span class="w">用户名：</span>{$list.name}</div>
                <div class="p2 p"><span class="w">电话号码：</span>{$list.tel}</div>
                <div class="p3 p"><span class="w">留言时间：</span>{$list.timer}</div>
                <div class="p3 p"><span class="w">留言内容：</span>{$list.content}</div>
            </div> 
          {/volist}

          <div class="page">
              {$page|raw}
          </div>
        
        </div>

    </div>     

    {include file="/public/_footer"}
</body>
</html>